playground/

.vscode/
.DS_Store
coverage/
node_modules/
dist/
build/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.idea/
*.iml
*.log
.cache/
.next/
out/
*.tsbuildinfo
*.tgz
*.zip
*.bak
*.swp
*.swo
*.orig
.vs/
*.code-workspace
*.eslintcache
*.turbo/
*.parcel-cache/
.sass-cache/
bower_components/
jspm_packages/
.tmp/
.nuxt/
.cargo/
.rustup/
target/
.vagrant/
*.exe
*.dll
*.so
*.dylib
*.lib