:root {
  --color-warn: #d99e00;
  --color-error: #c62828;
  --color-success: #00ff00;
}

.currency-value {
  font-weight: 600;
  color: #2196f3;
  font-family: "Courier New", monospace;
}

.section {
  border: 2px solid blue;
  padding: 10px;
}
.section:not(:last-child) {
  margin-bottom: 10px;
}

/* table */
.table {
  border-collapse: collapse;
}
.table td {
  border: 2px solid rgb(155, 155, 155);

}
.table td:not(:last-child) {
  border-right-color: rgb(230, 230, 230);
}
.table th {
  border-bottom: 2px solid rgb(155, 155, 155);
}
/* /table */

/* signals */
.success {
  font-weight: 600;
  color: var(--color-success);
}
.warning {
  font-weight: 600;
  color: var(--color-warn);
}
.error {
  font-weight: 600;
  color: var(--color-error);
}

/* /signals */